fastapi
uvicorn
python-dotenv
pydantic[email]
email-validator
python-multipart
supabase
PyMuPDF
google-genai
pandas
python-pptx
python-docx
reportlab
holidays
openai
httpx
python-jose[cryptography]
PyJWT
APScheduler
xlsxwriter
pillow
pypdf
python-dateutil
pytz
requests
cryptography
